
<h4><%= @cron.name %> Stats</h4>

<table style="width:100%">
  <tr>
    <th>cron_name</th>
    <th>start_time</th>
    <th>end_time</th>
    <th>run_time(sec)</th>
    <th>ping_freq(min)</th>
  </tr>
  <% if @cr_failed %>
    <tr>
      <td bgcolor="#FF0000"><%= @cron.name %></td>
      <td><%= @cr_failed.start_time %></td>
      <td><%= @cr_failed.end_time %></td>
      <td></td>
      <td><%= @cron.ping_freq %></td>
    </tr>
  <% end %>
  <% @cron_hash.each do |k,v| %>
    <% v.each do |cr| %>
      <tr>
        <td bgcolor="#00FF00"><%= k %></a></td>
        <td><%= cr[:start_time] %></td>
        <td><%= cr[:end_time] %></td>
        <td><%= cr[:run_time] %></td>
        <td><%= cr[:ping_freq] %></td>
      </tr>
    <% end %>
  <% end %>
</table>
