
<h4>Crons last run</h4>

<table style="width:100%">
  <tr>
    <th>cron_name</th>
    <th>start_time</th>
    <th>end_time</th>
    <th>ping_freq</th>
  </tr>
  <% @cron_hash.each do |k,v| %>
    <tr>
      <% if v[:cron_status] %>
        <td bgcolor="#FF0000"><a href="/cron?name=<%= k %>"><%= k %></a></td>
      <% else %>
        <td bgcolor="#00FF00"><a href="/cron?name=<%= k %>"><%= k %></a></td>
      <% end %>
      <td><%= v[:start_time] %></td>
      <td><%= v[:end_time] %></td>
      <td><%= v[:ping_freq] %></td>
    </tr>
  <% end %>
</table>
